/* CSS atualizado */

body, html {
  margin: 0;
  height: 100%; /* Certifique-se de que o HTML e o Body ocupem toda a altura */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz o contêiner ocupar pelo menos toda a altura da tela */
}

.navbar {
  background-color: rgba(28, 28, 30, 0.8);
  padding: 20px 0;
  text-align: center;
  backdrop-filter: blur(10px);
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.container {
  background-color: rgba(44, 44, 46, 0.95);
  padding: 40px;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  flex: 1; /* Faz o contêiner do formulário ocupar o espaço restante */
  display: flex; /* Adicionado para organizar o layout */
  flex-direction: column; /* Organiza os filhos na coluna */
  justify-content: space-between; /* Espaça os filhos uniformemente */
}

form {
  flex: 1; /* Faz o formulário ocupar o espaço disponível no contêiner */
  display: flex; /* Flexbox para organizar o conteúdo do formulário */
  flex-direction: column; /* Organiza os campos do formulário em coluna */
}

form h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #3a3a3c;
  color: #fff;
  font-size: 16px;
}

input::placeholder {
  color: #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Adiciona um espaço acima do botão */
}

button:hover {
  background-color: #0056b3;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #232347;
  color: white;
  padding: 20px 0;
}

.terms {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  font-size: 14px;
  color: #ccc;
}

.terms input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 3px;
}

.terms label {
  display: inline;
  color: #ccc;
  max-width: calc(100% - 40px);
  word-wrap: break-word;
}

.terms a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.terms a:hover {
  text-decoration: underline;
}
