body, html {
  margin: 0;
  height: 100%; /* Certifique-se de que o HTML e o Body ocupem toda a altura */
}

.navbar {
  background-color: rgba(28, 28, 30, 0.8); 
  padding: 20px 0;
  text-align: center;
  backdrop-filter: blur(10px); 
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz o contêiner ocupar pelo menos toda a altura da tela */
}

.container {
  background-color: rgba(44, 44, 46, 0.95); 
  padding: 20px; /* Mantido para diminuir a altura total */
  max-width: 300px; 
  width: 100%; 
  border-radius: 8px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
  margin: 0 auto; /* Removido o margin-top para evitar o empurrão no footer */
  flex: 1; /* Permitir que o contêiner do formulário ocupe espaço restante */
  display: flex; /* Mantido para organizar o layout */
  flex-direction: column; /* Organiza os filhos na coluna */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

form {
  display: flex; /* Flexbox para organizar o conteúdo do formulário */
  flex-direction: column; /* Organiza os campos do formulário em coluna */
}
  
form h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}
  
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #3a3a3c;
  color: #fff;
  font-size: 16px;
}
  
input::placeholder {
  color: #ccc;
}
  
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Adiciona um espaço acima do botão */
}
  
button:hover {
  background-color: #0056b3;
}
  
.signup-link {
  text-align: center;
  margin-top: 20px;
}
  
.signup-link p {
  color: #fff;
}
  
.signup-link img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(28, 28, 30, 0.9);
  color: #fff;
  font-size: 14px;
  position: fixed; /* Fixar o footer */
  bottom: 0; /* Colocar na parte inferior */
  width: 100%; /* Ocupa toda a largura da página */
}
  
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
