* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #2c2c54 0%, #232347 50%, #1b1b3a 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

input, button {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}
